//color variables
$grey: #f7f7f7;
$green: #51b549;
$alt-gray:#edf1f2;
$white: #ffffff;
$blue: #044DC3;
$red: #FF5B4D;
$dark-gray: #F2F2F2;
$darker-gray: #E6E6E6;



$brand-colors: ('grey', $grey),
('green', $green),
('alt-gray', $alt-gray),
('white', $white),
('blue', $blue),
('red', $red),
('dark-gray', $dark-gray),
('darker-gray', $darker-gray);

@each $color in $brand-colors {
    .text-color-#{nth($color,1)} {
      color: nth($color, 2) !important;
    };
  
    .bg-color-#{nth($color,1)} {
      background-color: nth($color, 2) !important;
    };
  
    .box-shadow-color-#{nth($color,1)} {
      -webkit-box-shadow: inset 0 0 0 1px nth($color, 2) !important;
              box-shadow: inset 0 0 0 1px nth($color, 2) !important;
    };
  }