@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&display=swap");
@import "./variable";
* {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
}

.form-control {
    background: $grey 0% 0% no-repeat padding-box;
    font-size: 19px;
    border: 2px solid $alt-gray;
    border-radius: 28px;
    padding-left: 45px;
}

.button {
    background: $green 0% 0% no-repeat padding-box;
    border: 2px solid $alt-gray;
    border-radius: 28px;
    color: $white;
    padding: 5px 15px;
}

p {
    margin: 0;
}

@for $i from 1 through 50 {
    .fs-#{$i} {
        font-size: #{$i}px;
    }
}
.bold {
    font-weight: 700;
}

.divider {
    border: 1px dashed $darker-gray;
}
.promotion-section {
    margin-top: 30px;
    margin-bottom: 105px;
}

.tooltip-inner {
    background-color: $red-two;
    min-width: 240px;
    padding: 15px;
}
.tooltip.show {
    opacity: 1;
}

.arrow {
    &::before {
        border-bottom-color: $red-two !important;
    }
}

.progress {
    max-height: 5px;
    background-color: #d01d32;
    .progress-bar {
        background-color: $yellow;
    }
}
